.floatR {
    float: right;
}

.clear {
    clear: both;
}

.classFirst {
    width: 500px;
    padding: 10px;
    margin: 10px auto;
}

.classOther {
    width: 20%;
    padding: 3px;
    margin: 10px 10px;
    float: left;
}

p {
    margin: 25px 2px;
}

.example-header-image {
    background: white no-repeat center/100% 100%;
}

#date {
    padding-top: 15px;
    font-weight: bolder;
    text-align: end;
}