<!-- <select name="loc" id="loc" [(ngModel)]="loc">
    <option value="London">London</option>
    <option value="Jerusalem">Jerusalem</option>
    <option value="Paris">Paris</option>
</select>
<br> -->
<!-- <input type="number" placeholder="Temperature" [(ngModel)]="temperatureInput">
<br>
<input type="number" placeholder="Wind Speed" [(ngModel)]="windSpeedInput">
<br> -->
<!-- <button (click)="updateLocation()">UPDATE LOCATION</button> -->

    <a routerLink="/">Home</a>

    <h2>{{ loc }}</h2>
    
    <app-day *ngFor="let day, index as i of days" [day]="day" (dayRemove)="removeDay($event)">
        <div class="clear"></div>
    </app-day>