.container {
    width: 1140px;
    margin: auto;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.clear {
    clear: both;
}

.ta-c {
    text-align: center;
}

/* .example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
} */

.wid300 {
    width: 300px;
}

.wid800 {
    width: 800px;
}